<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="transapps.ballistic">

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.sensor.accelerometer"/>
	<uses-feature android:name="android.hardware.sensor.magnetic_field"/>
	<application android:label="BallisticInfo" android:icon="@drawable/icon"
				 android:name=".BallisticApplication"
				 android:allowBackup="true">
		<provider
			android:name=".BallisticDBProvider"
			android:authorities="transapps.ballistic.db"
			android:exported="false"/>

		<activity android:name=".BallisticDisplayActivity"
				  android:label="@string/ballistic_display_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
